PYTHONUNBUFFERED=1
LOG_LEVEL=_eval_:logging.DEBUG
JSON_AS_ASCII=False
SECRET_KEY=SECRET_KEY
TEMPLATES_AUTO_RELOAD=True
DEBUG=True
SEND_FILE_MAX_AGE_DEFAULT=_eval_:0
ASSETS_DEBUG=_eval_:False
VIA_ROUTES_MODULE=app.routes
SECURITY_REGISTERABLE=_eval_:True
SECURITY_TRACKABLE=True
SECURITY_SEND_REGISTER_EMAIL=_eval_:False
SECURITY_LOGIN_URL=/login/
SECURITY_LOGOUT_URL=/logout/
SECURITY_REGISTER_URL=/register/
SECURITY_POST_LOGIN_VIEW=/
SECURITY_POST_LOGOUT_VIEW=/
SECURITY_POST_REGISTER_VIEW=/
SECURITY_LOGIN_USER_TEMPLATE=security/login.html
SECURITY_REGISTER_USER_TEMPLATE=security/register.html
SQLALCHEMY_DATABASE_URI=
SQLALCHEMY_TRACK_MODIFICATIONS=_eval_:True
DATABASE_URI=mongodb://localhost/sccm
APP_FOLDER=app/
API_VERSION=
UPLOADED_RESTAURANT_DEST=app/static/img/restaurant
UPLOADED_RESTAURANT_URL=http://0.0.0.0:8000/restaurant/upload
UPLOADED_FOOD_DEST=app/static/img/food
UPLOADED_FOOD_URL=http://0.0.0.0:8000/food/upload
UPLOADED_USER_DEST=app/static/img/user
UPLOADED_USER_URL=http://0.0.0.0:8000/user/upload
OAUTH_CREDENTIALS=_eval_:{'facebook': {'id': '638111216387395','secret': 'c374a53decb75c2043ccd0e4a0eb8c28'},'twitter': {'id': 't6nK168ytZ7w7Rj4uJD3bXi5L','secret': 'L537M7QT810Qe0zMCB1od3bKe6ljx2nyDkxxF49gaHtSJrmHA1'},'google': {'id': '1080912678595-adm52eo5f78jru65923qia22itfasa7d.apps.googleusercontent.com', 'secret': '1vq9zxw2rMiBtUVeLlAlNOVw'}}
FORM_META_LOCALES=_eval_:['zh']
ACCOUNT_LOGIN_SAVE_URI=www.fusinotree.com/password
DEFAULT_PAGE_SIZE=_int_:50
WTF_CSRF_CHECK_DEFAULT=_eval_:False
SPIDERID=minions.dev
APPID=
MAX_REVIEW_FILE_COUNT=50
UPLOAD_FOLDER=/tmp
BASE_PATH_CITY= _eval_:os.path.join(os.path.dirname(os.path.dirname(os.path.abspath(__file__))),'config','city_list')
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=0
FE_GIT_URL=https://dongjiangjiang:Shurong2019@bitbucket.org/fusiontree/scc.fe.git
UI_GIT_URL=https://dongjiangjiang:Shurong2019@bitbucket.org/fusiontree/scc.ui.git
FE_GIT_URL=
UI_GIT_URL=

SCC_ROOT=
SCC_SERVICE_HOST=106.12.9.121
SCC_SERVICE_PORT=_int_:5343
SCC_REDIS_HOST=106.12.9.121
SCC_REDIS_PORT=_int_:27019
SCC_REDIS_DB=_int_:0
SCC_REDIS_PASSWD=redisRocksxx
EXECUTOR_PKG_DIR=/tmp/sccm_epkg/
EXECUTOR_PKG_BASE_URL=http://127.0.0.1:3000
SCHEDULER_REDIS_HOST=106.12.9.121
SCHEDULER_REDIS_PORT=_int_:27019
SCHEDULER_REDIS_PASSWD=redisRocksxx
SCHEDULER_JOBS_KEY=sccm-jobs